<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Listado de libros</h1>
            <p class="mt-2">Estos son los libros disponibles.</p>
            <table class="table mt-2">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Páginas</th>
                    <th scope="col">Stock</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let book of bookList">
                    <th scope="row">{{book.id}}</th>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.pages}}</td>
                    <td>{{book.stock}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>